<template>
  <div>
    <b-container fluid :style="cssVars"> 


<b-row>
  <b-col class="p-5 header-about" style="">
    <h2>Nosotros</h2>
    <p><b-icon icon="geo-alt"> </b-icon> {{configuracion.nombre}} </p>
  </b-col>
</b-row>

</b-container>

    <b-container  :style="cssVars"> 


 <b-row class="py-5"  v-if="configuracion.descripcion != null && configuracion.descripcion!='null'">

   <b class="col " cols="12">
     <h2 class="pb-4 mh-heading--bottom-separator">Nuestra Compañia </h2>

   
      <p class="texto " v-if="configuracion.descripcion" v-html="configuracion.descripcion"></p>
   </b>

 </b-row>

 <b-row>


   <b class="col" v-if="configuracion.mision != null && configuracion.mision!='null'">
     <h2 class="pb-4 mh-heading--bottom-separator">Nuestra Misión </h2>

     
     <p class="texto " v-if="configuracion.mision" v-html="configuracion.mision"></p>
   </b>

   <b class="col" v-if="configuracion.vision != null && configuracion.vision!='null'">
      <h2 class="pb-4 mh-heading--bottom-separator">Nuestra Vision </h2>

   
     <p class="texto " v-if="configuracion.vision" v-html="configuracion.vision"></p>

   </b>

 </b-row>


<!-- buscador -->
 


  <b-container>

    <b-row class="py-5">
    

    <h2 class="pb-4 mh-heading--bottom-separator">Ultimas Noticias</h2>

    <b-col v-for="blog in blogs.data.data.blogs" :key="blog.id" class="col-sm-6 col-md-4 p-2">
    
      <div class="card ">
        <img v-if="blog.image.substr(0,4)=='http'" :src="blog.image" style="width:100%; height: 15em;"  />
        <img v-else :src="url+blog.image" style="width:100%; height: 15em;"  />
          <div class="container-card">
            <h4><b>{{blog.titulo}} </b></h4>
            <p class=""> {{blog.descripcion.substr(0,79)}} </p>
            <router-link 
            class="nav-link" 
            :to="{
              name: 'detalleblog',
              params: { id: blog.id },
            }">
              <!--b-button class="w-100" variant="outline-naranja my-3">Ver mas </b-button-->
            </router-link>
          </div>
      </div>

    </b-col>

<b-col cols="12">
  <router-link class="nav-link" to="/blog"> <b-button variant="naranja" >Visita nuestro blog</b-button></router-link>
 
</b-col>


  </b-row>

 </b-container>
 

</b-container>

</div>
</template>

<script>
import { URL_LOCAL } from "../config.js";

export default {
   data() {
      return {
        url: URL_LOCAL + "storage/",
        banners: [],
        blog: [],
        slide: 0,
        sliding: null,
        states: [
          { state: 'Bogota' },
          { state: 'Cucuta' },
          { state: 'Medellin' },
          { state: 'Cali' }
        ],
        props: {
          msg: String
        },
      }
   },

  computed:{

    inmuebles(){
      return this.$store.state.inmuebles
    },
    usuario(){
      return this.$store.state.usuario
    },

    blogs(){
      return this.$store.state.blogs
    },

    configuracion(){
      return this.$store.state.configuracion
    },
    
    code(){
      return this.$store.state.code
    },
    cssVars() {
      return {
        '--bg-color-primario': this.$store.state.color.primario,
        '--bg-color-secundario': this.$store.state.color.secundario,
      }
    }
  },

  created() {
     // this.getInmuebles();


       this.$store.dispatch('getCode',window.location.href.split('//')[1].split('.')[0].split(':')[0])
      .then(()=>this.loading=false);
      

     // this.getInmuebles();

      this.$store.dispatch('getInmuebles', this.code)
      .then(()=>(
        this.setTitulo()
      ))

      this.$store.dispatch('getBlogs', this.code)
      .then(()=>this.loading=false)

       this.$store.dispatch('getBanners', this.code)
      .then(()=>this.loading=false);

     

  },
  
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      this.slide=slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      this.slide=slide;

    },
    setTitulo(){
      document.title = this.$store.state.configuracion.nombre;
     // document.getElementById('pageFavicon').attr('href', 'https://res.cloudinary.com/dm5nedbyd/image/upload/c_fill,h_32,w_32/v1644445047/ixgp6fzzqbvhbmbxclhd.webp');
      const favicon = document.getElementById("pageFavicon");

      if(this.$store.state.configuracion.logo.substr(0, 4) == 'http'){

        favicon.href=this.$store.state.configuracion.logo.split('upload')[0]+'upload/c_fill,h_32,w_32'+this.$store.state.configuracion.logo.split('upload')[1];

      }else{

        favicon.href=this.url+this.$store.state.configuracion.logo;
      }

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 1;
}

.card-text{
  text-align: left;
}
.card-text p{
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones{
  background: #333;
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
}




.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: var(--bg-color-secundario);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p, .container-card h4{
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.col-buscar{
  padding: 3em;
  background: var(--bg-color-secundario);

}

.btn-buscar, .btn-buscar:focus{
   color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}

.mh-heading--bottom-separator:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90px;
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 36px;
}

.detalle, .ubicacion{
  font-size: 0.8em;
  line-height: 2;
}

.precio{
  color:var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.5em;

}

.bnew{
  position: absolute;
    top: 1em;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.bsale{
  position: absolute;
    top: 1em;
        right: 0;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.btn-outline-naranja {
    color: var(--bg-color-primario);
    border: 3px solid var(--bg-color-primario);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.btn-outline-naranja:focus {
    box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
    color: var(--bg-color-primario);
}

.btn-naranja {
    color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    border-radius: 0;
}

.btn-outline-blanco:hover {
    color: #fff;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-outline-primary {
    color: #FFF;
    border-color: #FFF;
}

.outline-blanco:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}

.header-about{
  background: var(--bg-color-secundario);
}

.texto{
  font-weight: 300;
    text-align: left;
}

</style>
