<template>
  <div>
    <b-container fluid :style="cssVars">
      <b-row>
        <b-col class="p-5 header-inicio" style="">
          <h2>Contacto</h2>
          <p><b-icon icon="geo-alt"> </b-icon> {{ configuracion.nombre }}</p>
        </b-col>
      </b-row>
    </b-container>

    <b-container :style="cssVars">
      <b-row class="py-5">
        <b-col clos="5" class="p-4" style="text-aling: left">
          <h2 class="pb-4 mh-heading--bottom-separator">Contactanos</h2>
          <b-form>
            <b-form-group id="input-group-1">
              <b-form-group id="input-group-2">
                <b-form-input
                  id="input-2"
                  v-model="form.nombre"
                  placeholder="Ingrese su nombre"
                  required
                ></b-form-input>
              </b-form-group>

              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Ingrese su email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2">
              <b-form-input
                id="input-2"
                v-model="form.telefono"
                placeholder="Ingrese Su Teléfono"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-textarea
              id="textarea"
              v-model="form.mensaje"
              placeholder="Ingrese su mensaje..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>

            <b-row>
              <b-col class="botones mt-2">
                <b-button class="" @click="sendContacto()" variant="naranja"
                  >Enviar</b-button
                >
              </b-col>
            </b-row>

            <b-row v-if="form.mensaje_contacto">
              <b-col>
                <b-alert variant="success" show>{{
                  form.mensaje_contacto
                }}</b-alert>
              </b-col>
            </b-row>
          </b-form>
        </b-col>

        <b-col cols="8" class="p-1">
          <b-row class="h-100" style="height: 100%">
            <b-col class="contacto6 p-4">
              <h2 class="pb-4 mh-heading--bottom-separator">Donde Ubicarnos</h2>

              <p v-if="configuracion">
                <b-icon icon="map"> </b-icon>
                {{ configuracion.id_ciudad.name }}
                {{ configuracion.id_estado.name }}
              </p>
              <p v-if="configuracion">
                <b-icon icon="telephone"> </b-icon> {{ configuracion.telefono }}
              </p>
              <p v-if="configuracion">
                <b-icon icon="envelope"> </b-icon> {{ configuracion.email }}
              </p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <!-- buscador -->
    </b-container>

    <b-container fluid>
      <b-row>
        <b-col class="p-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10633.00223485022!2d-76.54191093635883!3d3.3805694377123796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6f0cc4bb3f1%3A0x1f0fb5e952ae6168!2sCali%2C%20Valle%20del%20Cauca%2C%20Colombia!5e0!3m2!1ses!2sve!4v1641648688094!5m2!1ses!2sve"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {

  data() {
      return {
        form: {
          email: '',
          nombre: '',
          telefono: '',
          mensaje: '',
        },
       
    
      }
    },
 
  name: 'Miguel Machado',
  slide: 0,
  sliding: null,
  states: [
    { state: 'Bogota' },
    { state: 'Cucuta' },
    { state: 'Medellin' },
    { state: 'Cali' }
  ],
  props: {
    msg: String
  },
  form: {
    email: '',
    name: '',
    food: null,
    checked: []
  },

  computed:{

    inmuebles(){
      return this.$store.state.inmuebles
    },
    usuario(){
      return this.$store.state.usuario
    },

    blogs(){

     //  lista.sort(function() {return Math.random() - 0.5})
      return this.$store.state.blogs.data.data.blogs.slice(0,3)
    },
    code(){
      return this.$store.state.code
    },

    banners(){
      return this.$store.state.banners
    },

     configuracion(){
      return this.$store.state.configuracion
    },
    

    cssVars() {
      return {
        '--bg-color-primario': this.$store.state.color.primario,
        '--bg-color-secundario': this.$store.state.color.secundario,
      }
    }



  },

  created() {
     // this.getInmuebles();

       this.$store.dispatch('getCode',window.location.href.split('//')[1].split('.')[0].split(':')[0])
      .then(()=>this.loading=false);

      this.$store.dispatch('getInmuebles', this.code)
      .then(()=>(
        this.setTitulo()
      ))

      

  },

  
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      this.slide=slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      this.slide=slide;

    },
    sendContacto() {
      
      let formData = new FormData();

      formData.append("user_id", this.usuario.id);
      formData.append("full_name", this.form.nombre);
      formData.append("email", this.form.email);
      formData.append("celular", this.form.telefono);
      formData.append("message", this.form.mensaje);

      console.log(formData);

        this.$store
          .dispatch("addContacto", formData)
          .then((response) => {
            this.form.mensaje_contacto='Mensaje Enviado satisfactoriamente';
            this.form.nombre='';
            this.form.email='';
            this.form.mensaje='';
            this.form.telefono='';
           // this.$router.push({ name: "banners-list" });
           console.log(response)
          })
          .catch((error) => {
           console.log(error)
          });
      },
      onReset(event) {
        event.preventDefault()
        // Reset our form values
        this.form.email = ''
        this.form.name = ''
        this.form.food = null
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      },
      
     setTitulo(){
      document.title = this.$store.state.configuracion.nombre;
     // document.getElementById('pageFavicon').attr('href', 'https://res.cloudinary.com/dm5nedbyd/image/upload/c_fill,h_32,w_32/v1644445047/ixgp6fzzqbvhbmbxclhd.webp');
      const favicon = document.getElementById("pageFavicon");

      if(this.$store.state.configuracion.logo.substr(0, 4) == 'http'){

        favicon.href=this.$store.state.configuracion.logo.split('upload')[0]+'upload/c_fill,h_32,w_32'+this.$store.state.configuracion.logo.split('upload')[1];

      }else{

        favicon.href=this.url+this.$store.state.configuracion.logo;
      }

    }


  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.card-title {
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
  line-height: 1;
}

.card-text {
  text-align: left;
}
.card-text p {
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones {
  background: #333;
  color: #fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: var(--bg-color-secundario);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p,
.container-card h4 {
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.col-buscar {
  padding: 3em;
  background: var(--bg-color-secundario);
}

.btn-buscar,
.btn-buscar:focus {
  color: #fff;
  background-color: var(--bg-color-primario);
  border-color: var(--bg-color-primario);
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.mh-heading--bottom-separator:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90px;
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 36px;
}

.detalle,
.ubicacion {
  font-size: 0.8em;
  line-height: 2;
}

.precio {
  color: var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.5em;
}

.bnew {
  position: absolute;
  top: 1em;
  background: var(--bg-color-primario);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

.bsale {
  position: absolute;
  top: 1em;
  right: 0;
  background: var(--bg-color-primario);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

.btn-outline-naranja {
  color: var(--bg-color-primario);
  border: 3px solid var(--bg-color-primario);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
}

.btn-outline-naranja:focus {
  box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
  color: var(--bg-color-primario);
}

.btn-naranja {
  color: #fff;
  background-color: var(--bg-color-primario);
  border-color: var(--bg-color-primario);
  border-radius: 0;
}

.btn-outline-blanco:hover {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.outline-blanco:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  margin-bottom: 0.2rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.botones {
  text-align: left;
}

.contacto6 {
  background: var(--bg-color-secundario);
  text-align: left;
  height: 100%;
}

.header-inicio {
  background: var(--bg-color-secundario);
}
</style>
