<template>
  <div>
    <b-container fluid :style="cssVars"> 

     

 <!-- Carrusel -->
<b-row >
  <b-col class="p-5 header-inicio" >
    <h2>{{inmueble.titulo_inmueble}} </h2>
    <p><b-icon icon="geo-alt"> </b-icon> {{inmueble.direccion}}</p>
  </b-col>
</b-row>

<b-container>
  <b-row class="py-5">
    <b-col cols="8">

       <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="320"
      style="text-shadow: 1px 1px 2px #333;"
      label-next=""
      label-prev=""
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
      v-if="inmueble.inmueble_imagenes"
    >

      <!-- Text slides with image -->
      

      <!-- Slides with custom text -->
      

      <!-- Slides with image only -->

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide v-for="imagen in inmueble.inmueble_imagenes" :key="imagen.id">
        <template #img>
         

          <img
            v-if="imagen.url.substr(0,4)=='http'"
            class="d-block img-fluid w-100"
            width="1200"
            height="500"
            :src="imagen.url"
            alt=""
          >
          <img
            v-else
            class="d-block img-fluid w-100"
            width="1200"
            height="500"
            :src="url+imagen.url"
            alt=""
          >


        </template>
      </b-carousel-slide>

    

      <!-- Slide with blank fluid image to maintain slide aspect ratio -->
     
    </b-carousel>


    <b class="row mt-4 p-4 bgsecundario" style=" text-align:left;">
      <b-col>
        <p v-if="inmueble.tipo_inmueble!=null">Tipo de Propiedad: {{inmueble.tipo_inmueble.tipo}}</p>
        <p v-if="inmueble.ciudad_id!=null">Ciudad: {{inmueble.ciudad_id.name}}</p>
        <p v-if="inmueble.estado_id!=null">Departamento: {{inmueble.estado_id.name}}</p>
        <p>Tamaño de la propiedad: {{inmueble.area_total}} </p>
      </b-col>
      <b-col>
        <p v-if="inmueble.tipo_negocio!=null">Tipo de Oferta: {{inmueble.tipo_negocio.descripcion}}</p>    
        <p>Zona Postal: 111011</p>
        <p>Dirección: {{inmueble.direccion}} </p>
        <p v-if="inmueble.antiguedad!=null">Año: {{inmueble.antiguedad.name}}</p>
      </b-col>

    </b>


 <b class="row mt-4 p-4 caja" style="">
      <b-col>
        <h3 class="titulo-caja">Detalles</h3>
        <p>{{inmueble.descripcion}}</p>
      </b-col>

    </b>

    <b v-if="inmueble.caracteristicas_externas" class="row mt-4 p-4 bgsecundario" style=" text-align:left;">
      <h3 class="titulo-caja">Caracteristicas Externas</h3>
      <b-col   >

        <p  
        v-for="ce in inmueble.caracteristicas_externas"      
        :key="ce.id"> <b-icon icon="check"></b-icon> {{ce.caracteristicas_externas.texto}} </p>    
      
      </b-col>

    </b>

    <b v-if="inmueble.caracteristicas_internas" class="row mt-4 p-4 bgsecundario" style=" text-align:left;">
      <h3 class="titulo-caja">Caracteristicas Internas</h3>
      <b-col   >

        <p  
        v-for="ci in inmueble.caracteristicas_internas"      
        :key="ci.id"> 
          <span v-if="ci.caracteristicas_internas"><b-icon icon="check"></b-icon> {{ci.caracteristicas_internas.texto}}</span>
        </p>    
      
      </b-col>

    </b>

    </b-col>
    <b-col>

      <h2 class="pb-4 mh-heading--bottom-separator">Información</h2>

      <div>
         <b-alert class="naranja" show variant="light" >{{inmueble.precio_venta}}</b-alert>
         <b-alert class="naranja" show variant="light">{{inmueble.direccion}} </b-alert>
         <b-alert class="naranja" show variant="light" v-if="inmueble.ciudad_id">{{inmueble.ciudad_id.name}}  </b-alert>
         <b-alert class="naranja" show variant="light">{{usuario.celular_movil}} </b-alert>
      </div>
        
        
      

      <hr>

      <h2 class="pb-4 mh-heading--bottom-separator">Contactar</h2>

        <b-form style="text-aling:left">
                 <b-form-group
                    id="input-group-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="form.nombre"
                    type="text"
                    placeholder="Nombre"
                    required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="text"
                    placeholder="Email"
                    required
                    ></b-form-input>
                </b-form-group>

                 <b-form-group
                    id="input-group-1"
                >
                    <b-form-input 
                    class="mb-4"
                    id="input-1"
                    v-model="form.telefono"
                    type="text"
                    placeholder="Telefono"
                    required
                    ></b-form-input>
                </b-form-group>


                <div>
                  <b-form-textarea
                    id="textarea"
                    v-model="form.mensaje"
                    placeholder="Escriba su mensaje"
                    rows="3"
                    max-rows="6"
                  ></b-form-textarea>

                </div>


             </b-form>  

             <b-row>
              <b-col class="botones mt-2">
                <b-button class=""  @click="sendContacto()" variant="naranja">Enviar</b-button>
              </b-col>
            </b-row>

            <b-row v-if="form.mensaje_contacto">
              <b-col>
                 <b-alert variant="success" show>{{form.mensaje_contacto}}</b-alert>
              </b-col>
            </b-row>
             
             <!--hr>

            <h2 class="pb-4 mh-heading--bottom-separator">Ubicación</h2>

            <b-row>

              <b-col>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18405.301648618995!2d-76.53357097891671!3d3.4433594962954466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6f0cc4bb3f1%3A0x1f0fb5e952ae6168!2sCali%2C%20Valle%20del%20Cauca%2C%20Colombia!5e0!3m2!1ses!2sve!4v1641900554029!5m2!1ses!2sve" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </b-col>
            </b-row-->


             <b-container v-if="inmueble.latitud && inmueble.longitud " class="mt-4">
                
                <h2 class="pb-4 mh-heading--bottom-separator">Ubicación</h2>

                <GmapMap :center="center" :zoom="18" style="width: 100%; height: 400px">
                  <GmapMarker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    @click="center = m.position"
                  />
                </GmapMap>
              </b-container>





      
    </b-col>
  </b-row>
</b-container>

 <b-container>

    <b-row class="py-5">
    

    <h2 class="pb-4 mh-heading--bottom-separator">Propiedades Relacionadas</h2>

     <b-col 
    class="col-sm-6 col-md-4 p-2"
    v-for="inm in inmueblesRelacionados"
    :key="inm.id"
    >

      <div class="card ">

        <img v-if="inm.inmueble_imagenes[0].url.substr(0,4)=='http'" :src="inm.inmueble_imagenes[0].url" style="width:100%; height: 12em;" />
        <img v-else :src="url+inm.inmueble_imagenes[0].url" style="width:100%; height: 12em;" />

        
        <b-badge class="bnew" variant="primary">{{ inm.tipo_negocio.tipo }}</b-badge>
      <div class="container-card">
        <h4><b>{{ inm.titulo_inmueble }}</b></h4>
        <p class="ubicacion my-2"><b-icon icon="geo-alt"> </b-icon> {{inm.direccion.substr(0,77)}} </p>
       <p v-if="inm.precio_venta!='null'" class="precio">Precio : ${{ inm.precio_venta | priceFormattin }}</p>
        <p v-else class="precio">Precio : ${{ inm.precio_alquiler | priceFormattin }}</p>
      
        <b-row class="detalle">
          <b-col><p><img :src="require('../assets/iconos/regla.png')" style="width:24px" />: {{inm.area_total}}  </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/ducha.png')" style="width:24px" />: {{inm.banos}} </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/cama.png')" style="width:24px" />: {{inm.cantidad_parqueadero}} </p></b-col>
        </b-row>
        <router-link 
        class="nav-link" 
        :to="{
          name: 'detalle',
          params: { id: inm.id },
        }">
          <b-button  class="w-100" variant="outline-naranja my-3">Detalles</b-button>
        </router-link>
        
      </div>
    </div>

    </b-col>


<b-col cols="12 mt-4">
 <b-button variant="naranja" >Ver todas las Propiedades</b-button>
</b-col>

    
 

  </b-row>




 </b-container>

  <!-- Listado de Propiedades  --->

 



  <b-container>

    <b-row class="py-5">
    

    <h2 class="pb-4 mh-heading--bottom-separator">Ultimas Noticias</h2>

    <b-col v-for="blog in blogs" :key="blog.id" class="col-sm-6 col-md-4 p-2">

      <div class="card ">
        <img v-if="blog.image.substr(0,4)=='http'" :src="blog.image" style="width:100%; height: 15em;"  />
        <img v-else :src="url+blog.image" style="width:100%; height: 15em;"  />


      <div class="container-card">
        <h4><b>{{blog.titulo.substr(0,49)+'...'}}</b></h4>
        <p class=""> {{blog.descripcion.substr(0,79)}} </p>
        <router-link 
        class="nav-link" 
        :to="{
          name: 'detalleblog',
          params: { id: blog.id },
        }">
          <b-button class="w-100" variant="outline-naranja my-3">Ver mas ></b-button>
        </router-link>
      </div>
    </div>

    </b-col>

  </b-row>

 </b-container>


</b-container>

</div>
</template>

<script>

import { URL_LOCAL } from "../config.js";


export default {
  data() {
      return {
        id:this.$route.params.id,
        url:URL_LOCAL+'/storage/',
        currentPlace: null,
        form: {
            mensaje: '',
            nombre: '',
            email: '',
            telefono: '',
            mensaje_contacto: '',
            banos: '',
            estacionamiento: '',
            tipo: null,
            estrato: null,
            tipos: [
                { value: '1', text: 'Casa' },
                { value: '2', text: 'Apartamento' },
                { value: '3', text: 'Terreno' },
                { value: '4', text: 'Local', disabled: true }
            ],
            estratos: [
                { value: '1', text: '1' },
                { value: '2', text: '2' },
                { value: '3', text: '3' },
                { value: '4', text: '4' },
                { value: '5', text: '5' },
                { value: '6', text: '6' },
            ],
        },
        slide: 0,
        sliding: null,
        states: [
          { state: 'Bogota' },
          { state: 'Cucuta' },
          { state: 'Medellin' },
          { state: 'Cali' }
        ],
        props: {
          msg: String
        },
      }
  },
  computed:{

    markers(){
      return this.$store.state.markers
    },

    center(){
      return this.$store.state.center
    },

    code(){
      return this.$store.state.code
    },



    inmuebles(){
      return this.$store.state.inmuebles
    },

    inmueblesRelacionados() {
      return this.$store.state.inmuebles.slice(0,3);
    },
    usuario(){
      return this.$store.state.usuario
    },
    
    inmueble(){
      return this.$store.state.inmueble
    },

    blogs(){
       if(this.$store.state.blogs.data.data){
      return this.$store.state.blogs.data.data.blogs.slice(0,3)

      }else{
        return [];
      }
    },
    cssVars() {
      return {
        '--bg-color-primario': this.$store.state.color.primario,
        '--bg-color-secundario': this.$store.state.color.secundario,
      }
    }


  },

   created() {

      this.$store.dispatch('getCode',window.location.href.split('//')[1].split('.')[0].split(':')[0])
      .then(()=>this.loading=false);


      this.$store.dispatch('getInmueble',  this.$route.params.id)
      .then(()=>this.loading=false);

      this.$store.dispatch('getInmuebles', this.code)
      .then(()=>(
        this.setTitulo()
      ))

  },

  
  
  
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      this.slide=slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      this.slide=slide;

    },
    sendContacto() {
      
      let formData = new FormData();

      formData.append("user_id", this.usuario.id);
      formData.append("full_name", this.form.nombre);
      formData.append("email", this.form.email);
      formData.append("celular", this.form.telefono);
      formData.append("message", this.form.mensaje);

      console.log(formData);

        this.$store
          .dispatch("addContacto", formData)
          .then((response) => {
            this.form.mensaje_contacto='Mensaje Enviado satisfactoriamente';
            this.form.nombre='';
            this.form.email='';
            this.form.mensaje='';
            this.form.telefono='';
           // this.$router.push({ name: "banners-list" });
           console.log(response)
          })
          .catch((error) => {
           console.log(error)
          });
      },

     setTitulo(){
      document.title = this.$store.state.configuracion.nombre;
     // document.getElementById('pageFavicon').attr('href', 'https://res.cloudinary.com/dm5nedbyd/image/upload/c_fill,h_32,w_32/v1644445047/ixgp6fzzqbvhbmbxclhd.webp');
      const favicon = document.getElementById("pageFavicon");

      if(this.$store.state.configuracion.logo.substr(0, 4) == 'http'){

        favicon.href=this.$store.state.configuracion.logo.split('upload')[0]+'upload/c_fill,h_32,w_32'+this.$store.state.configuracion.logo.split('upload')[1];

      }else{

        favicon.href=this.url+this.$store.state.configuracion.logo;
      }

    }

      



  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.card-title {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 1;
}

.card-text{
  text-align: left;
}
.card-text p{
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones{
  background: #333;
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
}




.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: var(--bg-color-secundario);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p, .container-card h4{
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.col-buscar{
  padding: 3em;
  background: var(--bg-color-secundario);

}

.btn-buscar, .btn-buscar:focus{
   color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}

.mh-heading--bottom-separator:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90px;
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 36px;
}

.detalle, .ubicacion{
  font-size: 0.8em;
  line-height: 1;
    height: 2em;
}

.precio{
  color:var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.5em;

}

.bnew{
  position: absolute;
    top: 1em;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.bsale{
  position: absolute;
    top: 1em;
        right: 0;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.btn-outline-naranja {
    color: var(--bg-color-primario);
    border: 3px solid var(--bg-color-primario);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.btn-outline-naranja:focus {
    box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
    color: var(--bg-color-primario);
}

.btn-naranja {
    color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    border-radius: 0;
}

.btn-outline-blanco:hover {
    color: #fff;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-outline-primary {
    color: #FFF;
    border-color: #FFF;
}

.outline-blanco:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}

.titulo-caja{
  font-size: 21px;
    border-bottom: 1px solid #fff;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    font-weight: 700;
}

.caja{
background-color: var(--bg-color-secundario);
text-align:left;
}

.naranja{
  background: var(--bg-color-primario);
  color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header-inicio, .bgsecundario{
  background: var(--bg-color-secundario);
}

.container-card h4{
  height: 2.5em;
}

</style>
