<template>
  <div>
    <b-container fluid :style="cssVars"> 

    

 <!-- Carrusel -->

 <b-row>



   <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1200"
      img-height="500"
      style="text-shadow: 1px 1px 2px #333; padding:0;"
      label-next=""
      label-prev=""
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
      v-if="banners.data"
    >

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide v-for="banner in banners.data.data.banners" :key="banner.id">
        <template #img>
          <img
            v-if="banner.imagen.substr(0,4)=='http'"
            class="d-block img-fluid w-100"
            width="1200"
            height="500"
            :src="banner.imagen"
            alt=""
          >
          <img
            v-else
            class="d-block img-fluid w-100"
            width="1200"
            height="500"
            :src="url+banner.imagen"
            alt=""
          >
        </template>
      </b-carousel-slide>
     
    </b-carousel>

     </b-row>

<!-- buscador -->
<b-row>

    <b-col class="col-buscar">
      
       <b-form-input v-model="form.buscar" placeholder="Buscar propiedades"></b-form-input>
        <!--b-button class="btn-buscar px-5"  variant="primary"><b-icon icon="search"></b-icon></b-button-->

    </b-col>

  </b-row>


 <b-container>

    <b-row class="py-5">
    

    <h2 class="pb-4 mh-heading--bottom-separator">Propiedades</h2>

    <b-col 
    class="col-sm-6 col-md-4 p-2"
    v-for="inm in filteredInmuebles"
    :key="inm.id"
    >

      <div class="card ">
        <img v-if="inm.inmueble_imagenes[0].url.substr(0,4)=='http'" :src="inm.inmueble_imagenes[0].url" style="width:100%; height: 15em;" />
        <img v-else :src="url+inm.inmueble_imagenes[0].url" style="width:100%; height: 15em;" />
        
        <b-badge class="bnew" variant="primary">{{ inm.tipo_negocio.tipo }}</b-badge>
      <div class="container-card">
        <h4 style="font-size:1.5em"><b>{{ inm.titulo_inmueble }}</b></h4>
        <p class="ubicacion my-2"><b-icon icon="geo-alt"> </b-icon> {{inm.direccion.substr(0,77)}} </p>
        <p v-if="inm.precio_venta!='null'" class="precio">Precio : ${{ inm.precio_venta | priceFormattin }}</p>
        <p v-else class="precio">Precio : ${{ inm.precio_alquiler | priceFormattin }}</p>
        <b-row class="detalle">
          <b-col><p><img :src="require('../assets/iconos/regla.png')" style="width:24px" />: {{inm.area_total}}  </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/ducha.png')" style="width:24px" />: {{inm.banos}} </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/cama.png')" style="width:24px" />: {{inm.cantidad_parqueadero}} </p></b-col>
        </b-row>
        <router-link 
        class="nav-link" 
        :to="{
          name: 'detalle',
          params: { id: inm.id },
        }">
          <b-button  class="w-100" variant="outline-naranja my-3">Detalles </b-button>
        </router-link>
        
      </div>
    </div>

    </b-col>



<b-col cols="12">
 
  <router-link class="nav-link mt-4" :to="{ name: 'propiedades' }">
   <b-button variant="naranja" >Ver todas las Propiedades</b-button></router-link>

</b-col>


  </b-row>


 </b-container>

  
  
 <b-container v-if="blogs">

    <b-row class="py-5">
    

    <h2 class="pb-4 mh-heading--bottom-separator">Ultimas Noticias</h2>

    <b-col v-for="blog in blogs" :key="blog.id" class="col-sm-6 col-md-4 p-2">

     <div class="card ">
        <img v-if="blog.image.substr(0,4)=='http'" :src="blog.image" style="width:100%; height: 15em;" />
        <img v-else :src="url+blog.image" style="width:100%; height: 15em;" />
        
      <div class="container-card">
        <h4><b>{{blog.titulo.substr(0,49)+'...'}}</b></h4>
        <p class=""> {{blog.descripcion.substr(0,79)}} </p>

         <router-link 
        class="nav-link" 
        :to="{
          name: 'detalleblog',
          params: { id: blog.id },
        }">
          <b-button class="w-100" variant="outline-naranja my-3">Ver mas </b-button>
        </router-link>
        
      </div>
    </div>

    </b-col>

<b-col cols="12">
  <router-link class="nav-link" :to="{ name: 'blog' }"> <b-button variant="naranja" >Visita nuestro blog</b-button></router-link>
 
</b-col>


  </b-row>

 </b-container>

</b-container>

</div>
</template>

<script>

import { URL_LOCAL } from "../config.js";

export default {
   data() {
      return {
        url: URL_LOCAL + "storage/",
        form:{
          buscar:null
        },
        blog: [],
        slide: 0,
        sliding: null,
        states: [
          { state: 'Bogota' },
          { state: 'Cucuta' },
          { state: 'Medellin' },
          { state: 'Cali' }
        ],
        props: {
          msg: String
        },
      }
   },

  computed:{

    inmuebles(){
      return this.$store.state.inmuebles
    },
    usuario(){
      return this.$store.state.usuario
    },

    blogs(){

      if(this.$store.state.blogs.data.data){
      return this.$store.state.blogs.data.data.blogs.slice(0,3)

      }else{
        return [];
      }

     //  lista.sort(function() {return Math.random() - 0.5})
    },

    configuracion() {
      return this.$store.state.configuracion;
    },

    banners(){
      return this.$store.state.banners
    },

    code(){
      return this.$store.state.code
    },

     cssVars() {
      return {
        '--bg-color-primario': this.$store.state.color.primario,
        '--bg-color-secundario': this.$store.state.color.secundario,
      }
    },

    
    filteredInmuebles() {

      let temp = this.inmuebles;

      if(this.form.buscar!=null){

        return temp.filter((post) => {
            return post.titulo_inmueble
            .toLowerCase()
            .includes(this.form.buscar.toLowerCase());
        });

      }else{

        return temp;
      }


  }
  },

  created() {


   // if (1==1) {

     console.log(window.location.href.split('//')[1].split('.')[0]);

       this.$store.dispatch('getCode',window.location.href.split('//')[1].split('.')[0].split(':')[0])
      .then(()=>this.loading=false);

     
      
   // } 

     // this.getInmuebles();

      this.$store.dispatch('getInmuebles', this.code)
      .then(()=>(
        this.loading=false
      ))
      
      this.$store.dispatch('getBlogs', this.code)
      .then(()=>this.loading=false)

       this.$store.dispatch('getBanners', this.code)
      .then(()=>(
        this.loading=false
      ));


  },

  filters: {
    priceFormattin: function (value) {
      let format = parseInt(value);
      let dollarUSLocale = Intl.NumberFormat("es-CO");
      let price = dollarUSLocale.format(format);
      return price;
    },
  },

  
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      this.slide=slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      this.slide=slide;

    },
   
    setTitulo(){

      if(this.$store.state.configuracion.nombre!=undefined && this.$store.state.configuracion.nombre!=null){

          document.title = this.$store.state.configuracion.nombre;

          const favicon = document.getElementById("pageFavicon");

          if(this.$store.state.configuracion.logo.substr(0, 4) == 'http'){

            favicon.href=this.$store.state.configuracion.logo.split('upload')[0]+'upload/c_fill,h_32,w_32'+this.$store.state.configuracion.logo.split('upload')[1];

          }else{

            favicon.href=this.url+this.$store.state.configuracion.logo;
          }

      }else{

        this.setTitulo();

      }
      

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.cintillo{
  background: var(--bg-color-primario);
  color:#fff;
  padding-top: 0.3em;;
  padding-bottom: 0.3em;
  font-size: 0.8em;
}

.cintillo .col{
  border-right: 1px solid #fff;
}

.form-inline, .form-inline .form-control{
  display: inline-block;
  width: 80%;
}


.col-buscar .form-inline .form-control{
  width: 80%;
}
.cintillo .col a{
  color:#fff;
}

.cintillo .col .b-icon{
  margin-left: 1em;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 1;
}

.card-text{
  text-align: left;
}
.card-text p{
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones{
  background: #333;
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.footer{
  background: var(--bg-color-primario);
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: left;
}

.footer-des{
  text-align: left;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: var(--bg-color-secundario);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p, .container-card h4{
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.col-buscar{
  padding: 3em;
  background: var(--bg-color-secundario);

}

.btn-buscar, .btn-buscar:focus{
   color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}

.mh-heading--bottom-separator:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90px;
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 36px;
}

.detalle, .ubicacion{
  font-size: 0.8em;
  line-height: 1;
    height: 2em;
}
.precio{
  color:var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.5em;

}

.bnew{
  position: absolute;
    top: 1em;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.bsale{
  position: absolute;
    top: 1em;
        right: 0;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.btn-outline-naranja {
    color: var(--bg-color-primario);
    border: 3px solid var(--bg-color-primario);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.btn-outline-naranja:focus {
    box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
    color: var(--bg-color-primario);
}

.btn-naranja {
    color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    border-radius: 0;
}

.btn-outline-blanco:hover {
    color: #fff;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-outline-primary {
    color: #FFF;
    border-color: #FFF;
}

.outline-blanco:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}

.carousel-control-prev .sr-only, .carousel-control-next .sr-only{
  display: none;
}

span .sr-only {
    display: none;
}

.header-inicio{
  background: var(--bg-color-secundario);
}

.container-card h4{
  height: 2.5em;
}

</style>
