<template>
  <div>
    <b-container fluid :style="cssVars"> 

    

 <b-row>

    <b-col class="col-buscar">
      
       <b-form-input v-model="form.buscar" placeholder="Buscar propiedades"></b-form-input>
        <!--b-button class="btn-buscar px-5"  variant="primary"><b-icon icon="search"></b-icon></b-button-->

    </b-col>

  </b-row>


 <b-container>

    <b-row class="py-5">

        <b-col>
             <h2 class="pb-4 mh-heading--bottom-separator">Filtrar</h2>

             <b-form >

                <div class="py-4 rowinput">
                    <label for="range-1">Tipo de Propiedad</label>
                    <b-form-select v-model="form.tipo" :options="form.tipos"></b-form-select>
                    <!--div class="mt-3">Selected: <strong>{{ form.selected }}</strong></div-->
                </div>


                <div class="py-4 rowinput">
                    <label for="range-1">Estratos</label>
                    <b-form-select v-model="form.estrato" :options="form.estratos"></b-form-select>
                    <!--div class="mt-3">Selected: <strong>{{ form.selected }}</strong></div-->
                </div>


                 <b-form-group
                    id="input-group-1"
                    label="Desde:"
                    label-for="input-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="form.desde"
                    type="number"
                    placeholder="Desde"
                    required
                    ></b-form-input>
                </b-form-group>

                <b-form-group
                    id="input-group-1"
                    label="Hasta:"
                    label-for="input-1"
                >
                    <b-form-input
                    id="input-1"
                    v-model="form.hasta"
                    type="number"
                    placeholder="Hasta"
                    required
                    ></b-form-input>
                </b-form-group>

                <div class="py-4 rowinput">
                    <label for="range-1">Habitaciones: {{ form.habitaciones }}</label>
                    <b-form-input id="range-1" v-model="form.habitaciones" type="range" min="0" max="12"></b-form-input>
                    
                </div>

                 <div class="py-4 rowinput">
                    <label for="range-1">Baños: {{ form.banos }}</label>
                    <b-form-input id="range-1" v-model="form.banos" type="range" min="0" max="12"></b-form-input>
                    
                </div>


                <div class="py-4 rowinput">
                    <label for="range-1">Estacionamiento: {{ form.estacionamiento }}</label>
                    <b-form-input id="range-1" v-model="form.estacionamiento" type="range" min="0" max="12"></b-form-input>
                    
                </div>


                <div class="py-4 rowinput">

                   <b-alert
                   v-if="form.ciudadAsignada!=null"
                    variant="info"
                    dismissible
                    fade
                    :show="showAlerta"
                    @dismissed="removeCiudad()"
                  >
                    {{form.ciudadAsignada.name}}
                  </b-alert>

                    <label for="range-1">Estados: </label>

                    <p style="" class="btn btn-link enlaceubicacion" v-for="city in ciudades" :key="city"  v-on:click="asignarCiudad(city)" >
                        {{city.name}} ({{city.cantidad}})
                    </p>

                    
                </div>



             </b-form>


        </b-col>

        <b-col cols="9">

            <b-row>

             <h2 class="pb-4 mh-heading--bottom-separator">Propiedades</h2>

            <b-col 
    class="col-sm-6 col-md-4 p-2"
    v-for="inm in filteredInmuebles"
    :key="inm.id"
    >

      <div class="card ">
        
         <img v-if="inm.inmueble_imagenes[0].url.substr(0,4)=='http'" :src="inm.inmueble_imagenes[0].url" style="width:100%; height: 12em;" />
        <img v-else :src="url+inm.inmueble_imagenes[0].url" style="width:100%; height: 12em;" />
        
        <b-badge class="bnew" variant="primary">{{ inm.tipo_negocio.tipo }}</b-badge>
      <div class="container-card">
        <h4 style="font-size:1.5em" ><b>{{ inm.titulo_inmueble }}</b></h4>
        <p class="ubicacion my-2"><b-icon icon="geo-alt"> </b-icon> {{inm.direccion.substr(0,77)}} </p>
        <p v-if="inm.precio_venta!='null'" class="precio">Precio : ${{ inm.precio_venta | priceFormattin }}</p>
        <p v-else class="precio">Precio : ${{ inm.precio_alquiler | priceFormattin }}</p>
      
        <b-row class="detalle">
          <b-col><p><img :src="require('../assets/iconos/regla.png')" style="width:24px" />: {{inm.area_total}}  </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/ducha.png')" style="width:24px" />: {{inm.banos}} </p></b-col>
          <b-col><p><img :src="require('../assets/iconos/cama.png')" style="width:24px" />: {{inm.habitaciones}} </p></b-col>
        </b-row>
        <router-link 
        class="nav-link" 
        :to="{
          name: 'detalle',
          params: { id: inm.id },
        }">
          <b-button  class="w-100" variant="outline-naranja my-3">Detalles </b-button>
        </router-link>
        
      </div>
    </div>

    </b-col>

           

        </b-row>
    </b-col>


        
    

   

<!--b-row>

    <b-col cols="12">
      <b-button variant="naranja" >Cargar mas</b-button>

</b-col>

</b-row-->



  </b-row>


 </b-container>

  <!-- Listado de Propiedades  --->


</b-container>

</div>
</template>

<script>
import { URL_LOCAL } from "../config.js";

export default {
   data() {
      return {
        url: URL_LOCAL + "storage/",
        showAlerta: false,
        form: {
            buscar: null,
            ciudadAsignada: null,
            search: '',
            desde: '',
            hasta: '',
            habitaciones: 0,
            banos: 0,
            estacionamiento: 0,
            tipo: null,
            estrato: null,
            
            tipos: [
                { value: '1', text: 'Casa' },
                { value: '2', text: 'Apartamento' },
                { value: '3', text: 'Terreno' },
                { value: '4', text: 'Local', disabled: true }
            ],
            estratos: [
                { value: '1', text: '1' },
                { value: '2', text: '2' },
                { value: '3', text: '3' },
                { value: '4', text: '4' },
                { value: '5', text: '5' },
                { value: '6', text: '6' },
            ],
        },
        banos:0,

      }
    },
  slide: 0,
  sliding: null,
  states: [
    { state: 'Bogota' },
    { state: 'Cucuta' },
    { state: 'Medellin' },
    { state: 'Cali' }
  ],
  props: {
    msg: String
  },

  computed:{

    inmuebles(){
      return this.$store.state.inmuebles
    },
    usuario(){
      return this.$store.state.usuario
    },

    blogs(){
      return this.$store.state.blogs
    },

    banners(){
      return this.$store.state.banners
    },

    code(){
      return this.$store.state.code
    },

    ciudades(){

      return this.$store.state.ciudades
    
    },

     cssVars() {
      return {
        '--bg-color-primario': this.$store.state.color.primario,
        '--bg-color-secundario': this.$store.state.color.secundario,
      }
    },


     filteredList() {
      return this.inmuebles.filter((post) => {
        return post.titulo_inmueble
          .toLowerCase()
          .includes(this.search.toLowerCase());
      });
    },

    filteredInmuebles() {

      let temp = this.inmuebles

      if(this.form.habitaciones>0){
         temp = temp.filter((item) => {
            return (item.habitaciones == this.form.habitaciones)
          })

      }

      if(this.form.banos>0){

           temp = temp.filter((item) => {
            return (item.banos >= this.form.banos)
          })

      }

      if(this.form.estacionamiento){

        temp = temp.filter((item) => {
          return (item.cantidad_parqueadero >= this.form.estacionamiento)
        })

      }

      if(parseInt(this.form.desde) && parseInt(this.form.desde)>0){

        temp = temp.filter((item) => {
          return (parseInt(item.precio_venta) >= parseInt(this.form.desde))
        })

      }

      if(parseInt(this.form.hasta) && parseInt(this.form.desde)>0){

        temp = temp.filter((item) => {
          return (parseInt(item.precio_venta) <= parseInt(this.form.hasta))
        })

      }

      if(this.form.tipo){

        temp = temp.filter((item) => {
          return (item.tipo_inmueble.id == this.form.tipo)
        })

      }

      if(this.form.estrato){

        temp = temp.filter((item) => {
          return (item.estrato.id == this.form.estrato)
        })

      }


       if(this.form.ciudadAsignada){

        temp = temp.filter((item) => {
          return (item.estado_id.id == this.form.ciudadAsignada.estado_id)
        })

      }

       if(this.form.buscar){
        // let buscar='/'+this.form.buscar+'/g';
          temp = temp.filter((item) => {
          return (item.titulo_inmueble.indexOf(this.form.buscar))
        })


        return temp.filter((post) => {
            return post.titulo_inmueble
            .toLowerCase()
            .includes(this.form.buscar.toLowerCase());
        });

      }

      
      return temp;
    }

  },
  filters: {
    priceFormattin: function (value) {
      let format = parseInt(value);
      let dollarUSLocale = Intl.NumberFormat("es-CO");
      let price = dollarUSLocale.format(format);
      return price;
    },
  },

  created() {
     // this.getInmuebles();

      this.$store.dispatch('getCode',window.location.href.split('//')[1].split('.')[0].split(':')[0])
      .then(()=>this.loading=false);

      this.$store.dispatch('getInmuebles', this.code)
      .then(()=>(
        this.setTitulo()
      ))

      this.$store.dispatch('getBlogs', this.code)
      .then(()=>this.loading=false)

       this.$store.dispatch('getBanners', this.code)
      .then(()=>this.loading=false)

      

  },

  
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      this.slide=slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      this.slide=slide;

    },
    asignarCiudad (ciudad) {
      console.log(ciudad);
     this.form.ciudadAsignada=ciudad;
     this.showAlerta=true;


    },

    removeCiudad () {
     this.form.ciudadAsignada=null;
     this.showAlerta=false;

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.cintillo{
  background: var(--bg-color-primario);
  color:#fff;
  padding-top: 0.3em;;
  padding-bottom: 0.3em;
  font-size: 0.8em;
}

.cintillo .col{
  border-right: 1px solid #fff;
}

.form-inline, .form-inline .form-control{
  display: inline-block;
  width: 80%;
}


.col-buscar .form-inline .form-control{
  width: 80%;
}
.cintillo .col a{
  color:#fff;
}

.cintillo .col .b-icon{
  margin-left: 1em;
}
.card-title {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: 600;
    line-height: 1;
}

.card-text{
  text-align: left;
}
.card-text p{
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones{
  background: #333;
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
      
}

.footer{
  background: var(--bg-color-primario);
  color:#fff;
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: left;
}

.footer-des{
  text-align: left;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: var(--bg-color-secundario);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p, .container-card h4{
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a{
  color:#fff;
  border-bottom: 1px solid #fff;
}

.col-buscar{
  padding: 3em;
  background: var(--bg-color-secundario);

}

.btn-buscar, .btn-buscar:focus{
   color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);

}

.mh-heading--bottom-separator:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90px;
    width: 50%;
    margin: 0 auto;
    height: 2px;
    background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;
    margin-bottom: 36px;
}

.detalle, .ubicacion{
  font-size: 0.8em;
  line-height: 1;
    height: 2em;
}

.precio{
  color:var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.3em;

}

.bnew{
  position: absolute;
    top: 1em;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.bsale{
  position: absolute;
    top: 1em;
        right: 0;
    background: var(--bg-color-primario);
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}

.btn-outline-naranja {
    color: var(--bg-color-primario);
    border: 3px solid var(--bg-color-primario);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0;
}

.btn-outline-naranja:focus {
    box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
    color: var(--bg-color-primario);
}

.btn-naranja {
    color: #fff;
    background-color: var(--bg-color-primario);
    border-color: var(--bg-color-primario);
    border-radius: 0;
}

.btn-outline-blanco:hover {
    color: #fff;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-outline-primary {
    color: #FFF;
    border-color: #FFF;
}

.outline-blanco:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}

.rowinput{
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-align: left;
}

.rowinput label, .rowinput input, .rowinput select{
    width: 100%;
    font-size: 0.8em;;
}

select{
    padding: 0.5em;
    border: 1px solid rgba(0,0,0,0.2);
}

.header-inicio{

  background: var(--bg-color-secundario);
}

.container-card h4{
  height: 2.5em;
}

.enlaceubicacion{
  width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #333;
}

button.close {
    background: transparent;
    border: none;
    float: right;
    font-size: 1.5em;
    line-height: 1;
}
</style>
