<template>
  <div id="app">
    <b-container fluid :style="cssVars">
      <b-row class="cintillo">
        <b-col
          v-if="
            configuracion.telefono != null && configuracion.telefono != 'null'
          "
        >
          Tel: {{ configuracion.telefono }}
        </b-col>
        <b-col
          v-if="
            configuracion.direccion != null && configuracion.direccion != 'null'
          "
        >
          Dir: {{ configuracion.direccion }}
        </b-col>
        <b-col
          v-if="configuracion.email != null && configuracion.email != 'null'"
        >
          Correo: {{ usuario.email }}
        </b-col>
        <b-col>
          <a
            v-if="
              configuracion.facebook != null && configuracion.facebook != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.facebook)"
          >
            <b-icon class="ml-1 mr-1" icon="facebook"></b-icon>
          </a>
          <a
            v-if="
              configuracion.instagram != null &&
              configuracion.instagram != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.instagram)"
          >
            <b-icon class="ml-1 mr-1" icon="instagram"></b-icon>
          </a>
          <a
            v-if="
              configuracion.linkedin != null && configuracion.linkedin != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.linkedin)"
          >
            <b-icon class="ml-1 mr-1" icon="linkedin"></b-icon>
          </a>
        </b-col>
        <!--b-col>
           <b-link href="#foo">Login</b-link>/
            <b-link href="#foo">Registro</b-link>
        </b-col-->
      </b-row>
      <!-- Nav bar -->
      <b-row>
        <b-navbar toggleable="lg" type="light" variant="default">
          <b-navbar-brand href="/" v-if="configuracion.logo">
            <img
              fluid
              v-if="configuracion.logo.substr(0, 4) == 'http'"
              :src="configuracion.logo"
              style="width: 120px"
            />
            <img
              fluid
              v-else
              :src="url + configuracion.logo"
              style="width: 120px"
            />
          </b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <router-link class="nav-link" :to="{ name: 'home' }">
                Inicio</router-link
              >
              <router-link class="nav-link" :to="{ name: 'about' }">
                Nosotros</router-link
              >
              <router-link class="nav-link" :to="{ name: 'propiedades' }">
                Propiedades</router-link
              >
              <router-link class="nav-link" :to="{ name: 'blog' }">
                Blog</router-link
              >
              <router-link class="nav-link" :to="{ name: 'contacto' }">
                Contacto</router-link
              >
            </b-navbar-nav>

            <!-- Right aligned nav items -->
          </b-collapse>
        </b-navbar>
      </b-row>
    </b-container>

    <router-view />

    <b-container fluid :style="cssVars">
      <b-row class="footer" style="text-aling: left">
        <b-col class="px-4">
          <div v-if="configuracion.logo">
            <img
              fluid
              v-if="configuracion.logo.substr(0, 4) == 'http'"
              :src="configuracion.logo"
              style="width: 120px"
            />
            <img
              fluid
              v-else
              :src="url + configuracion.logo"
              style="width: 120px"
            />
          </div>

          <p
            v-if="configuracion.descripcion"
            v-html="configuracion.descripcion.substr(0, 199)"
          ></p>

          <p v-if="configuracion.id_estado">
            <b-icon icon="map"></b-icon> {{ configuracion.id_estado.name }}
          </p>
          <p
            v-if="
              configuracion.telefono != null && configuracion.telefono != 'null'
            "
          >
            <b-icon icon="phone"></b-icon> {{ configuracion.telefono }}
          </p>
          <p
            v-if="configuracion.email != null && configuracion.email != 'null'"
          >
            <b-icon icon="envelope"></b-icon> {{ configuracion.email }}
          </p>
        </b-col>

        <b-col class="px-4">
          <h3 class="p-0 mt-0 mb-4">ENLACES</h3>

          <b-nav vertical class="w-100">
            <router-link class="nav-link footer-enlace" :to="{ name: 'home' }">
              Inicio
            </router-link>

            <router-link class="nav-link footer-enlace" :to="{ name: 'about' }">
              Nosotros
            </router-link>

            <router-link
              class="nav-link footer-enlace"
              :to="{ name: 'propiedades' }"
            >
              Propiedades
            </router-link>

            <router-link
              class="nav-link footer-enlace"
              :to="{ name: 'contacto' }"
            >
              Contacto</router-link
            >
          </b-nav>
        </b-col>

        <b-col class="px-4">
          <h3 class="p-0 mt-0 mb-4">REDES SOCIALES</h3>

          <a
            v-if="
              configuracion.facebook != null && configuracion.facebook != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.facebook)"
          >
            <b-button class="circulo-blanco" variant="outline-primary"
              ><b-icon icon="facebook"></b-icon>
            </b-button>
          </a>
          <a
            v-if="
              configuracion.instagram != null &&
              configuracion.instagram != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.instagram)"
          >
            <b-button class="circulo-blanco" variant="outline-primary"
              ><b-icon icon="instagram"></b-icon>
            </b-button>
          </a>
          <a
            v-if="
              configuracion.linkedin != null && configuracion.linkedin != 'null'
            "
            class="a-style"
            @click="Enlace(configuracion.linkedin)"
          >
            <b-button class="circulo-blanco" variant="outline-primary"
              ><b-icon icon="linkedin"></b-icon>
            </b-button>
          </a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { URL_LOCAL } from "./config.js";

export default {
  data() {
    return {
      url: URL_LOCAL + "storage/",
      name: "App",
    };
  },
  components: {
    // HelloWorld
  },
  created() {
    this.getCode();

    // this.getInmuebles();
  },
  computed: {
    usuario() {
      return this.$store.state.usuario;
    },
    configuracion() {
      return this.$store.state.configuracion;
    },

    code() {
      return this.$store.state.code;
    },
    color() {
      return this.$store.state.color;
    },
    cssVars() {
      return {
        "--bg-color-primario": this.$store.state.color.primario,
        "--bg-color-secundario": this.$store.state.color.secundario,
        "--bg-font-color": this.$store.state.color.font,
      };
    },
  },

  filters: {
    strippedContent: function (string) {
      return string.replace(/<\/?[^>]+>/gi, " ");
    },
  },

  methods: {
    Enlace(url) {
      window.open(url, "_blank"); // Se abre una nueva ventana enlace externo
    },

    async setTitulo() {

      console.log('settitulo');

      document.title = this.$store.state.configuracion.nombre;

      const favicon = document.getElementById("pageFavicon");

      if (this.$store.state.configuracion.logo.substr(0, 4) == "http") {
        favicon.href =
          this.$store.state.configuracion.logo.split("upload")[0] +
          "upload/c_fill,h_32,w_32" +
          this.$store.state.configuracion.logo.split("upload")[1];
      } else {
        favicon.href = this.url + this.$store.state.configuracion.logo;
      }
    },

    async getCode() {
       this.$store
        .dispatch(
          "getCode",
          window.location.href.split("//")[1].split(".")[0].split(":")[0]
        )
        .then(() => (this.loading = false));

       this.$store
        .dispatch("getInmuebles", this.code)
        .then( () =>  this.setTitulo());
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

.cintillo {
  background: var(--bg-color-primario);
  color: var(--bg-font-color);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 0.8em;
}

.cintillo .col {
  border-right: 1px solid #fff;
}

.form-inline,
.form-inline .form-control {
  display: inline-block;
  width: 80%;
}

.col-buscar .form-inline .form-control {
  width: 80%;
}
.cintillo .col a {
  color: var(--bg-font-color);
}

.cintillo .col .b-icon {
  margin-left: 1em;
}
.card-title {
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
  line-height: 1;
}

.card-text {
  text-align: left;
}
.card-text p {
  text-align: left;
  margin-bottom: 0;
}

.ubicaciones {
  background: #333;
  color: var(--bg-font-color);
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.footer {
  background: var(--bg-color-primario);
  color: var(--bg-font-color);
  min-height: 10em;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: left;
}

.footer-des {
  text-align: left;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #f5f5f5;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 5px;
}

.container-card p,
.container-card h4 {
  text-align: left;
  margin-bottom: 0;
}

.footer-enlace a {
  color: var(--bg-font-color);
  border-bottom: 1px solid var(--bg-font-color);
}

.footer-enlace {
  color: var(--bg-font-color) !important;
  border-bottom: 1px solid var(--bg-font-color);
}

.col-buscar {
  padding: 3em;
  background: #f5f5f5;
}

.btn-buscar,
.btn-buscar:focus {
  color: #fff;
  background-color: var(--bg-color-primario);
  border-color: var(--bg-color-primario);
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.mh-heading--bottom-separator:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90px;
  width: 50%;
  margin: 0 auto;
  height: 2px;
  background: var(--bg-color-primario);
}

.mh-heading--bottom-separator {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 12px;
  margin-bottom: 36px;
}

.detalle,
.ubicacion {
  font-size: 0.8em;
  line-height: 2;
}

.precio {
  color: var(--bg-color-primario);
  font-weight: 600;
  font-size: 1.5em;
}

.bnew {
  position: absolute;
  top: 1em;
  background: var(--bg-color-primario);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

.bsale {
  position: absolute;
  top: 1em;
  right: 0;
  background: var(--bg-color-primario);
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

.btn-outline-naranja {
  color: var(--bg-color-primario);
  border: 3px solid var(--bg-color-primario);
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0;
}

.btn-outline-naranja:focus {
  box-shadow: 0 0 0 0.25rem rgb(242 86 27 / 15%);
}

.btn-outline-naranja:hover {
  color: var(--bg-color-primario);
}

.btn-naranja {
  color: #fff;
  background-color: var(--bg-color-primario);
  border-color: var(--bg-color-primario);
  border-radius: 0;
}

.btn-outline-blanco:hover {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-primary {
  color: #fff;
  border-color: #fff;
}

.outline-blanco:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 34%);
}
.cuadrado-blanco,
.cuadrado-blanco:hover {
  color: #fff !important;
  border-color: #fff !important;
  border-radius: 0 !important;
}

.circulo-blanco,
.circulo-blanco:hover {
  border-color: var(--bg-font-color) !important;
  color: var(--bg-font-color) !important;
  border-radius: 4em !important;
  height: 40px !important;
  width: 40px !important;
  padding: 9px !important;
  margin: 0 !important;
}
</style>
